.title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
}

.description {
  text-align: left;
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Poppins';
  margin-top: 20px; /* Adjust margin as needed */
  margin-left: 20px; /* Adjust margin as needed */
}

.img-fluid1 {
  width: 100%;
  height: auto;
  animation: content 3s infinite;
}

@keyframes content {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.car-container,
.card-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

}

.img-fluid {
  width: 100%;
  height: auto;
}

.car-container img,
.card-container2 img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.img-container {
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.card-abc {
  width: 100%; /* Adjust width as needed */
}

@media only screen and (max-width: 600px) {
  .card-abc {
    width: 100%;
  }
}
