.t-main {
    height: 100vh;
}

.text-main {
    text-align: center;
    margin-top: 3rem;
}
.line {
    margin-left: -2rem;
    width: 6%;
    height: 1rem;
    
}

.text-sub {
    text-align: center;
    margin-top: 4rem;
}

.address {
    text-align: center;
    margin-top: 10rem;
    margin-right: 35rem;
}

.line-img {
    width: 1rem;
    height: 20vh;
    margin-left: -18rem;
    margin-top: -7rem;
    
}

.email {
    margin-left: 37rem;
    margin-top: -6.5rem;
}
.text-mail{
    margin-left: 3rem;
}

.line-img-2 {
    width: 1rem;
    height: 20vh;
    margin-left: 30rem;
    margin-top: -11rem;
}

.whatsapp {
    margin-left: 40rem;
    margin-top: -8.8rem;
}

.w-number {
    margin-left: 40rem;
}

.mail2 {
    margin-left: 2rem;
    margin-top: -15rem;
}

.whatsapp-img {
    margin-top: -18rem;
    margin-left: 7rem;
}